

form {
    margin-top: 2rem;
}


form .subscriptionType{
    width: 100%;
    display: flex;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    box-sizing: border-box;
    gap: 2rem;
}
.subscriptionType input{
    width: 1rem;
    height: 2.5rem;
    margin-top: 10px;
    margin: 0px;
}
.subscriptionType #type{
    display: flex;
    gap: 1rem;
}
.subscriptionType p{
    line-height: 2.5rem;
    padding: 0px;
    margin: 0px;
}