

form {
    margin-top: 2rem;
}


form .subscriptionType{
    width: 100%;
    display: flex;
    border: 1px solid rgb(58, 105, 113);
    border-radius: 5px;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    box-sizing: border-box;
    gap: 2rem;
}
.subscriptionType input{
    width: 1rem;
    height: 2.5rem;
    margin-top: 10px;
    margin: 0px;
}
.subscriptionType #type{
    display: flex;
    gap: 1rem;
}
.subscriptionType p{
    line-height: 2.5rem;
    padding: 0px;
    margin: 0px;
}

textarea{
height: 10rem;
width: 100%;
padding: 1rem;
box-sizing: border-box;
line-height: 1.3rem;
background-color: #babd9e33;
color: white;
resize: vertical;
border-radius: 0.3rem;
border: 0px;

}
/* style={{height: '10rem', width: '100%', padding: '1rem', boxSizing:'border-box',lineHeight:'1.3rem', backgroundColor: '#babd9e33', color: '#ffffff', resize: 'vertical' }} */