

html{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #072326; 

 
}

.navbar{
  width: 100vw;
  height: 5rem;
  background-color: #0c0726;
  position: fixed;
  top: 0px;
  z-index: 10;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.navbar #logo{
  width: 3.5rem;
  height: 3.5rem;
}

.nav{
width: 90%;
height: 5rem;
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
}


.nav ul {
float: right;
display: flex;
gap: 1rem;
justify-content: center;
align-items: center;
flex-direction: row;
}

.navbar .showMenu {
  display: none;
  position: absolute;
  right: 0rem;
}


.showMenu{
  width: 3rem;
  height: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

}

.showMenu div{
  width: 2.5rem;
  height: 0.2rem;
  background-color: rgb(255, 170, 0);
  border-radius: 0.3rem;
}

.hideMenu{
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.hideMenu div{
  width: 2.5rem;
  height: 0.2rem;
  border-radius: 0.3rem;
}
.hideMenu :nth-child(even){
display: none;}
.hideMenu :nth-child(odd) {
  background-color: rgb(255, 170, 0);
}
.hideMenu :nth-child(1){
  transform: rotate(-30deg);
}
.hideMenu :nth-child(3){
  transform: rotate(30deg);
}


.hideMenuIcon {
  display: none;
}


li{
  list-style: none;
}
.link {
  color: white;
  text-decoration: none;
 
}
.link:hover{
  color: rgb(197, 127, 5);
}
.nav .active{
  color: rgb(197, 127, 5);
  font-weight: bold;

}
button{
  padding: 1.3rem;
  border-width: 0rem;
  border-radius: 0.4rem;
  background-color: rgb(164, 111, 5);
  font-weight: bolder;
  position: relative;
  color: white;
}

button:hover {
  background-color: rgb(166, 133, 11);
  transition: 0.3s;
}


.contentLoader{
  position: relative;
  background-color: #072326; 
  display: flex;
}
.homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.homePallet{
  width: 100%;
  height: calc(15rem + 50vmin);
  background-image: url('../asset/images/isometric-people-working-with-technology_52683-19078.avif');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeFeatures{
  position: relative;
  width: inherit;
  height: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay {
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: rgb(17, 43, 46,0.4);
  backdrop-filter: blur(2px);
  z-index: 3;
}

h1{
  text-align: center;
  font-size: calc(2rem + 5vmin);
  color: rgb(255, 255, 255);
  
}

h2{
  color: rgb(255, 170, 0);
  font-size: 1.5rem;

}
h3{
  color: rgb(255, 170, 0);
  font-size: 1rem;
}

hr{
  border: 1px solid red;

}

.searchBar {
  width: 70%;
  max-width: 600px;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  padding-inline: 0.5rem;
  align-items: center;
  background-color: #072326;
  border-radius: 0.5rem;
  border: 1px solid rgb(255, 255, 255);
}

.searchBar input {
  height: 2.5rem;
  width: 100%;
  border-radius: 0.5rem;
  border-width: 0;
  padding-inline: 1rem;
  font-size: 1rem;
}
.searchBar input:focus{
  outline-width: 0px;

}

.searchBar h4{
  color: white;
  padding-left: 1rem;
  font-size: 1.2rem;
  
}


.categoryListing {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  position: sticky;
  top: 4.6rem;
  background-color: #112b2e;
  z-index: 9;
  transition: 0.5s;


}
.categoryListing .heading {
  background-color: #1b565b;
  width: 100%;
  height: 2.5rem;
  /* margin-bottom: 0.5rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  box-sizing: border-box;
  color: #ffffff;
}
.categoryListing .heading h3{
  color: #fdfdfd;
}

.categoryListing span {
  font-size: 2rem;
  font-weight: bolder;
  height: inherit;
  cursor: pointer;
  box-sizing: border-box;
}

.category{
  width: 100%;
  /* height: 6rem; */
  display: flex;
  overflow-x: scroll;
  align-items: center;
  overflow-y: hidden;
  /* background-color: red; */
  
}

.categoryListing::-webkit-scrollbar {
  display: none;
}
.category::-webkit-scrollbar {
  background-color: rgb(197, 127, 5);
  height: 4px;
}
.category::-webkit-scrollbar-thumb {
  background-color: #1b565b;
  height: 2rem;
}

.cardItem{
  width: 100px;
  height: 100px;
  border-radius: 5px;
  color: white;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.cardItem p {
  padding: 0px;
  top: 0px;
}

.categoryImage {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid rgb(255, 170, 0) ;
  box-shadow: 1px 1px 5px black;
  display: flex;
  align-items: center;
  justify-content: center;

}
.categoryImage:hover{
  border: 2px solid rgb(255, 170, 0);
  box-shadow: 1px 1px 5px rgba(255, 170, 0.5);
  transition: 0.3s;
  
  }

.imgContainer {
  width: 200px;
  height: 200px;
  border: rgb(255, 170, 0) 1px solid;
  align-self: center;
  border-radius: 5px;
}

.lastestListing{
  width: 100%;
  max-width: 1800px;
  /* max-height: 850px; */
  /* background-color: red; */
  height: auto;
  overflow-x: hidden;
  align-self: center;
  color: white;
  border-radius: 5px;
  /* padding-inline: 1rem; */
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid orange;
}
.lastestListing h2{
  width: inherit;
  margin-inline: 0px;
  position: sticky;
  background-color: #112b2e ;
  width: inherit;
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 20px;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(255, 170, 0,0.3);
}

.item{
  width:350px;
  max-width: 490px;
  min-width: inherit;
  display:  flex;
  flex-direction: row;
  color: white;
  gap: 1rem;
  border-bottom: 1px solid rgb(255, 255, 255,0.1);
  padding-bottom: 1rem;
  margin-bottom: 20px;
  margin-right: 2%;
  /* background-color: blue; */

}
.lastestListing button{
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.itemDetails{
  width: auto;
  height: auto;
}

.aboutUs {
  width: 100%;
  align-self: center;
  box-sizing: border-box;
}


.aboutUs >div{
  max-width: 800px;
  display: flex;
  align-self: center;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: auto;
  padding: 20px;
  overflow-x: hidden;
}

.aboutUs p{
  max-width: 400px;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(255, 170, 0);
  padding-inline: 1rem;
  text-wrap: wrap;
}

.aboutUs >div .shape{
    width: 30%;
    height: 300px;
    border: 1px solid rgb(246, 245, 235);
    position: relative;
    margin-bottom: 5rem;

}

.shape div{
  width: 85%;
  height: 100%;
  background-color: rgb(173, 124, 34);
  background-size: cover;
  background-position: center;
  padding: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: 0.5s;
}

.aboutUs .aboutImageOne{
  background-image: url('./pages/ceoGoogle.jpeg');

}
.aboutUs .aboutImageTwo{
  background-image: url('./pages/ceoThree.jpg');

}
.aboutUs .aboutImageThree{
  background-image: url('./pages/ceoTWO.jpeg');

}
.shape div:hover{
  top: 10px;
  left: 10px;
}


.siteNotice{
  max-width: 1200px;
  height: auto;
  align-self: center;
  margin-inline: auto;
   overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 5rem;

}
.siteNotice h3{
  font-size: 1.5rem;
}
.siteNotice div{
width: 90%;
margin-inline: auto;
}
.siteNotice  p{
  color: rgb(255, 255, 255);
  text-align: justify;
 
}

.foot {
  width: 100%;
   height: auto;
  background-color: #072326 ;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(111, 94, 94);
}

.footerCategories {
  height: auto;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: rgb(143, 123, 123) solid 0.5px;
  flex-wrap: wrap;
  overflow: hidden;
}

.footerCategories > div{
  height: auto;
  width: 140px;
  max-width: 200px;
  margin: 10px;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.foot ul {
  margin: 0;
  padding: 0;
}



/* this is for the login page  */
.Login{
  background-color: #112b2e;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  padding-top: 80px;
  padding-bottom: 100px;
  overflow: hidden;
  box-sizing: border-box;
  position:  relative;

}
.signInPallet{
  width: 80vw;
  max-width: 600px;
  margin-inline: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;


}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 100%;
  /* padding-top: 3rem; */
  border-radius: 10px;
  
}
form input{
  border-radius: 5px;
  width: 100%;
  border: 0px;
  margin-bottom: 1rem;
  height: 55px;
  padding-inline: 10px;
  box-sizing: border-box;
  background-color: #babd9e33;
  color: #ffffff;
  outline-offset: 1px;
 
}
input:focus {
  outline-color: rgb(255, 170, 0);
  outline-width: 1px;
}
 input::placeholder{
  color: rgb(198, 197, 186);
}
textarea::placeholder{
  color: rgb(198, 197, 186);

}
input::-moz-focus-inner{
  border: 0px;
}
form button {
  width: 90%;
}
.Login h1{
  margin-top: 1.5rem;
}
.Login h2{
  color: white;
}
form h4{
  width: 100%;
  color: rgb(255, 170, 0);
  padding-bottom: 1rem;


}
.Login p{
  text-align: center;
  color: rgb(255, 170, 0);
  margin-top: 1rem;
}









@media screen  and (max-width: 696px){
  html{
    font-size: 16px;
  }
  .navbar{
    border-bottom: 1px solid rgb(255, 170, 0);
    height: 60px;

  }
  .nav{
    height: 60px;
    
  }

  .nav ul {
    background-color: #072326;
    position: fixed;
    height: 24rem;
    width: 100%;
    padding:  0px;
    left: 0px;
    top: 47px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgb(255, 170, 0);
    transition: 0.5s;
  
  }

  .nav ul li {
    margin-bottom: 1rem;
  }
 
  .nav .showMenu {
    display: flex;
  }

  .categoryListing{
    top: 60px;
  }




  
.aboutUs >div .shape{
  width: 300px;
  height: 300px;
  

}

.shape div{
width: 90%;
height: 100%;
background-color: rgb(173, 124, 34);
padding: 20px;
position: absolute;
top: 21px;
left: 20px;
transition: 0.5s;
}


}
@media screen and (width <=470px) {
 html{
  font-size: 15px;
 }
 h1{
  font-size: 2rem;
 }
 .foot{
  /* background-color: red; */
 }
  .footerCategories {
    padding: 0rem;
  }

  .footerCategories > div{
    height: auto;
    width: 160px;
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* background-color: blue; */
  }
}